# Supabase Configuration
#VITE_SUPABASE_URL=https://xxdazmikvjsiwpoj.supabase.co
#VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1BhYmFzZSIsInJlZiI6Inh4ZGF6bWlrdmpzaXdrY2Z3cG9qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0Njk5MTcsImV4cCI6MjA4ODA0NTkxN30._goWhT1VeT-2oknYAy6IOtcVmdVNkx6k_CbPnX4w0lU

# Chatwoot Configuration
#VITE_CHATWOOT_BASE_URL=https://chatwoot-production-3ffd.up.railway.app
#VITE_CHATWOOT_API_TOKEN=